<div class="header-container">
    <div class="logo-containter">
      <a class="navigation"><i class="nb-menu"></i></a>
      <div class="logo">Vr1<span>Celebrations.com</span></div>
    </div>
  </div>
  <div class="header-container float-right">
      <nb-actions size="small">
          <nb-action icon="shopping-cart" badgeText="0" badgePosition="top left" badgeStatus="info"></nb-action>
          <nb-action icon="person-outline" nbTooltip="login" nbTooltipPlacement="bottom"></nb-action>          
      </nb-actions>
  </div>