.header-container {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    .logo-containter{
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: calc(16.25rem - 1.25rem);
        line-height: 1.25;
        .navigation {
            padding-right: 1.25rem;
            font-size: 2.5rem;
            text-decoration: none;
        }
        .logo{
            padding: 0 1.25rem;
            font-size: 1.75rem;
            font-weight: 500;
            white-space: nowrap;
            border-left: 1px solid #ebeef2;
            font-family: Exo;
            span{
                font-weight: 400;
            }
        }
      }
}


