<div class="container-fluid cacks">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 cack_container">
            <nb-card class="cack_item">
                <nb-card-header>
                        Ebony And Ivory Ebony And Ivory Ebony And Ivory
                </nb-card-header>
                <nb-card-body>
                    <img src="assets/chocolate-vanilla-cake-A.jpg" class="img-fluid">
                    <div class="cack_info">
                            A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                            Originally, nebula was a name for any diffuse astronomical object,
                            including galaxies beyond the Milky Way.
                    </div>
                </nb-card-body>
                <nb-card-footer>                        
                    <nb-actions size="small" fullWidth>
                        <nb-action>
                            <div class="text-success">{{ 1234 | currency:'INR'}}</div>
                        </nb-action>
                        <nb-action>
                            <button nbButton shape="round" outline size="small" status="success" [routerLink]= "['/product/1']">Buy</button>                            
                        </nb-action>
                    </nb-actions>
                </nb-card-footer>
            </nb-card>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 cack_container">
            <nb-card class="cack_item">
                <nb-card-header>
                        Ebony And Ivory Ebony And Ivory Ebony And Ivory
                </nb-card-header>
                <nb-card-body>
                    <img src="assets/chocolate-vanilla-cake-A.jpg" class="img-fluid">
                    <div class="cack_info">
                            A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                            Originally, nebula was a name for any diffuse astronomical object,
                            including galaxies beyond the Milky Way.
                    </div>
                </nb-card-body>
                <nb-card-footer>                        
                    <nb-actions size="small" fullWidth>
                        <nb-action>
                                <div class="text-success">{{ 1234 | currency:'INR'}}</div>
                        </nb-action>
                        <nb-action>
                            <button nbButton shape="round" outline size="small" status="success">Buy Now</button>                            </nb-action>
                    </nb-actions>
                </nb-card-footer>
            </nb-card>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 cack_container">
            <nb-card class="cack_item">
                <nb-card-header>
                        Ebony And Ivory Ebony And Ivory Ebony And Ivory
                </nb-card-header>
                <nb-card-body>
                    <img src="assets/chocolate-vanilla-cake-A.jpg" class="img-fluid">
                    <div class="cack_info">
                            A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                            Originally, nebula was a name for any diffuse astronomical object,
                            including galaxies beyond the Milky Way.
                    </div>
                </nb-card-body>
                <nb-card-footer>                        
                    <nb-actions size="small" fullWidth>
                        <nb-action>
                                <div class="text-success">{{ 1234 | currency:'INR'}}</div>
                        </nb-action>
                        <nb-action>
                            <button nbButton shape="round" outline size="small" status="success">Buy Now</button>                            </nb-action>
                    </nb-actions>
                </nb-card-footer>
            </nb-card>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 cack_container">
            <nb-card class="cack_item">
                <nb-card-header>
                        Ebony And Ivory Ebony And Ivory Ebony And Ivory
                </nb-card-header>
                <nb-card-body>
                    <img src="assets/chocolate-vanilla-cake-A.jpg" class="img-fluid">
                    <div class="cack_info">
                            A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                            Originally, nebula was a name for any diffuse astronomical object,
                            including galaxies beyond the Milky Way.
                    </div>
                </nb-card-body>
                <nb-card-footer>                        
                    <nb-actions size="small" fullWidth>
                        <nb-action>
                            <div class="text-success">{{ 1234 | currency:'INR'}}</div>
                        </nb-action>
                        <nb-action>
                            <button nbButton shape="round" outline size="small" status="success">Buy Now</button>                            </nb-action>
                    </nb-actions>
                </nb-card-footer>
            </nb-card>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 cack_container">
            <nb-card class="cack_item">
                <nb-card-header>
                        Ebony And Ivory Ebony And Ivory Ebony And Ivory
                </nb-card-header>
                <nb-card-body>
                    <img src="assets/chocolate-vanilla-cake-A.jpg" class="img-fluid">
                    <div class="cack_info">
                            A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                            Originally, nebula was a name for any diffuse astronomical object,
                            including galaxies beyond the Milky Way.
                    </div>
                </nb-card-body>
                <nb-card-footer>                        
                    <nb-actions size="small" fullWidth>
                        <nb-action>
                                <div class="text-success">{{ 1234 | currency:'INR'}}</div>
                        </nb-action>
                        <nb-action>
                            <button nbButton shape="round" outline size="small" status="success">Buy Now</button>                            </nb-action>
                    </nb-actions>
                </nb-card-footer>
            </nb-card>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-3 cack_container">
            <nb-card class="cack_item">
                <nb-card-header>
                        Ebony And Ivory Ebony And Ivory Ebony And Ivory
                </nb-card-header>
                <nb-card-body>
                    <img src="assets/chocolate-vanilla-cake-A.jpg" class="img-fluid">
                    <div class="cack_info">
                            A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                            Originally, nebula was a name for any diffuse astronomical object,
                            including galaxies beyond the Milky Way.
                    </div>
                </nb-card-body>
                <nb-card-footer>                        
                    <nb-actions size="small" fullWidth>
                        <nb-action>
                                <div class="text-success">{{ 1234 | currency:'INR'}}</div>
                        </nb-action>
                        <nb-action>
                            <button nbButton shape="round" outline size="small" status="success">Buy Now</button>                            </nb-action>
                    </nb-actions>
                </nb-card-footer>
            </nb-card>
        </div>
    </div>
</div>